.modelContainerOpen {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.014);
  position: absolute;
  border: 10px solid yellow;
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modelContainerClose {
  display: none;
}

.model_Box {
  width: 30%;
  border: 1px solid red;
  height: 300px;
}
