.tabs_wrapper {
  display: flex;
  overflow-x: scroll;
  border-bottom: 1px solid gray;
}

.tabs_wrapper::-webkit-scrollbar {
  width: 2px; /* Set the width of the scrollbar */
  height: 1px; /* Set the height of the scrollbar */
}

.tabs_wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}

.tabs_wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}
.tabLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 0px 15px;
  height: 40px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: var(--inter-font);
  font-weight: 500;
}
