.filedContainer {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.lable_Box {
  color: #7c7c7c;
  font-size: 14px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.inputStyle {
  font-size: 14px;
  width: 100%;
  height: auto;
  min-height: 20px;
  box-shadow: initial !important;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out;
  outline: none;
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 5px;
  outline: none;
  padding: 6px 12px;
}
