.two_columnContainer {
  display: flex;
  column-gap: 10px;
}

.right_Column_container {
  width: 250px;
  position: absolute;
  height: 100%;
  right: 100px;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  row-gap: 20px;
}

@media screen and (max-width: 600px) {
  .left_Column_container {
    width: 100%;
  }
  .right_Column_container {
    display: none;
  }
}
