.card_Container {
  width: 100%;
  height: 165px;
  box-shadow: var(--cardbox-shadow);
  margin-bottom: 10px;
}

.Card_topBar {
  width: 100%;
  display: flex;
  column-gap: 7px;
  padding: 5px 5px;
}

.auther_imageBox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.autherImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.card_body {
  display: flex;
  column-gap: 5px;
}

.card_content {
  width: 80%;
  padding: 5px;
}

.card_titleBox {
  margin-bottom: 10px;
}

.card_imageBox {
  width: 18%;
  height: 100px;
}

.card_image {
  width: 100%;
  height: 100%;
}

.card_footer {
  width: 100%;
  height: 25px;
  display: flex;
  padding: 5px;
  padding-right: 10px;
  justify-content: space-between;
}

.iconBox {
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .card_Container {
    height: 135px;
  }
  .card_descreption {
    display: none;
  }
  .card_imageBox {
    height: 70px;
  }
  .card_footer {
  }
}

/*  */
