.banner_container {
  padding: 5px;
  background-color: var(--textColor);
  border-radius: 5px;
}

.banner_image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .banner_container {
    height: 100%;
  }
}
