.container {
  width: 100%;
  height: 100vh;
  border: 10px solid green;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

.form_container {
  border: 1px solid gray;
  width: 40%;
  padding: 20px;
  min-height: 350px;
}

.form_heding {
  text-align: center;
  line-height: 2;
}
